<html ng-app="friends_app">

<head>
    <title>Full Mean Demo</title>
    <!-- require angular -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.js"></script>
    <script>
        // Let's create our angular module
        var friends_app = angular.module('friends_app', []);
        // create the FriendFactory
        friends_app.factory('FriendFactory', function($http) {
            var factory = {};
            var friends = [];
            //Restful syntax: index = get all that object
            factory.index = function(callback) {
                console.log("factory.index");
                // Where do we get access to $http?
                $http.get('/friends').success(function(output) {
                    friends = output;
                    callback(friends);
                });
            };

            // note the use of callbacks!
            // Restful syntax: create = add one to that object
            factory.create = function(data, callback) {
                console.log("factory.new data:", data);
                $http.post('/friends', data)
                .success(function() {
                    console.log("post response");
                    callback(friends);
                })
                .catch (function(err){
                    console.log("err =", err );
                });
            };
            return factory;
        });

        // Now let's create a controller with some hardcoded data!
        friends_app.controller('FriendsController', function($scope, FriendFactory) {
            // This line goes at the top of the controller callback because the minute the controller gets called upon we want to create the $scope.friends array
            FriendFactory.index(function(data) {
                console.log("FriendFactory.index");
                $scope.friends = data;
                // anything else that you want to happen after storing friends to $scope
            });
            $scope.addfriend = function() {
                // note the use of callbacks here
                FriendFactory.create($scope.new_friend, function() {
                    console.log("new friend =", $scope.new_friend);
                    $scope.friends.push($scope.new_friend);
                    $scope.new_friend = {};
                });
            };
        });
    </script>
</head>
<!-- everything in the body is going to use the friends controller (this gives us access to the friends controller $scope) -->

<body ng-controller="FriendsController">
    <h1>Friends</h1>
    <input type="text" ng-model="filter_name" placeholder="filter"> {{filter_name}}
    <ul>
        <!-- here is where we are going to display friends -->
        <li ng-repeat="friend in friends | filter: filter_name">
            {{friend.name}}, {{friend.age}}
        </li>
    </ul>
    <h1>Add a Friend</h1>
    <!-- objects and properties nothing scary -->
    <input type="text" ng-model="new_friend.name" placeholder="name">
    <input type="text" ng-model="new_friend.age" placeholder="age">
    <!-- addfriend() is a method we are going to make in the angular controller -->
    <input type="submit" ng-click="addfriend()">
</body>

</html>
